
build/generated/mockable-android-24.jar

build/intermediates/dex-cache/cache.xml

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/gradle.xml

.gradle/2.14.1/taskArtifacts/cache.properties

.gradle/2.14.1/taskArtifacts/cache.properties.lock

.gradle/2.14.1/taskArtifacts/fileHashes.bin

.gradle/2.14.1/taskArtifacts/fileSnapshots.bin

.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin

.gradle/2.14.1/taskArtifacts/taskArtifacts.bin

.gradle/2.14.1/tasks/_commonlibrary_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin

.gradle/2.14.1/tasks/_commonlibrary_compileReleaseJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock

.gradle/2.14.1/tasks/_commonlibrary_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin

.gradle/2.14.1/tasks/_commonlibrary_compileReleaseJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock

*.bin

*.lock

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/libraries/animated_vector_drawable_24_1_1.xml

.idea/libraries/appcompat_v7_24_1_1.xml

.idea/libraries/hamcrest_core_1_3.xml

.idea/libraries/junit_4_12.xml

.idea/libraries/okhttp_3_4_1.xml

.idea/libraries/okio_1_9_0.xml

.idea/libraries/rxandroid_1_2_1.xml

.idea/libraries/rxjava_1_1_10.xml

.idea/libraries/support_annotations_24_1_1.xml

.idea/libraries/support_v4_24_1_1.xml

.idea/libraries/support_vector_drawable_24_1_1.xml

.idea/misc.xml

.idea/modules.xml

.idea/runConfigurations.xml

.idea/workspace.xml

local.properties

local.properties
